<?xml version="1.0"?>
<robot name="lidar1">

    <link name="lidar1_base_link">
        <visual>
            <geometry>
                <box size="0.05 0.05 0.05" />
            </geometry>
            <material name="white">
                <color rgba="1.0 1.0 1.0 1.0" />
            </material>
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.05 0.05" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1.0" />
            <inertia ixx="0.015" iyy="0.0375" izz="0.0375" ixy="0" ixz="0" iyz="0" />
        </inertial>
    </link>

    <!-- LIDAR -->
    <link name="laser1_link" type="fixed">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.03 0.03 0.03" />
            </geometry>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.03 0.03 0.03" />
            </geometry>
        </collision>
        <inertial>
            <mass value="1e-5" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
        </inertial>
    </link>

    <joint name="lidar1_joint" type="fixed">
        <axis xyz="0 1 0" />
        <origin xyz="0 0 1.03" rpy="0 0 0" />
        <parent link="lidar1_base_link" />
        <child link="laser1_link" />
    </joint>

    <!--JointState publisher for ROS -->
    <plugin name="joint_state_publisher" filename="libgazebo_ros_joint_state_publisher.so">
        <jointName>lidar1_joint</jointName>
        <ros>
            <namespace>/lidar1</namespace>
            <argument>--ros-args --remap joint_states:=joint_states_lidar1</argument>
        </ros>
        <updateRate>1</updateRate>
    </plugin>

    <!--LIDAR plugin for ROS -->
    <gazebo reference="laser1_link">
        <sensor type="gpu_ray" name="laser1_link">
            <pose>0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>1</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.10</min>
                    <max>30.0</max>
                    <resolution>0.01</resolution>
                </range>
            </ray>
            <plugin name="laser" filename="libgazebo_ros_gpu_laser.so">
                <topicName>/scan1</topicName>
                <frameName>laser1_link</frameName>
            </plugin>
        </sensor>
    </gazebo>
</robot>